In [ ]:
print ('hi!')

In [ ]:
first = input('enter first word')
second= input('enter second word')
if first < second:
 print (f'{first} comes first')
else:
    print (f'{second} comes first')

In [ ]:
a=5
b=20*a
tax = 2*b
print (tax)

In [ ]:
price = input ('enter price of your meal')
price = float(price)
tax = price*0.20
total_price = price + tax
number_of_people = input ('enter number of people')
number_of_people = float(number_of_people)
price_each_person = total_price/number_of_people
print(price_each_person)

In [ ]:
name = input ('enter your name')
if name =='Que':
 print('hello SillyBilly')
else:
 print(f'Hello {name}, how are you?')

In [ ]:
age = input('enter your age')
age = float(age)
if age >60:
 print ('Jeez, you are ancient!')
if age<40: 
 print ('You are a spring chicken')
else:
 print ('You are definitely middle age!')

In [ ]:
x='hello Que'
s=x[0:7]
print(s)

In [ ]:
today = input('enter day of the week as of today')
day = input('enter day')
month =input('enter month')
year = input('enter year')
print (f'today is {today} {day}/{month}/{year}') #to make sure the variables {today} {day} etc appears exactly as you inputted, you need to use f string at the beginning, otherwise it doesn't work

In [ ]:
s = 'Hello Que'
s = s.replace('Que', 'Fat Face')
print(s)

In [ ]:
s = 'A bird in hand is worth two in the bush'
index=s.find('worth')
print(index)

In [ ]:
s = 'A bird in hand is worth two in the bush'
if 'bushes' in s:
 print('query found')
else:
 print('query not found')

In [ ]:
firstname = 'Que'
lastname = 'Vuong'
doublebarrelled='Crouzier'
sequence = (firstname, lastname,doublebarrelled)
name = '_'.join(sequence)
print(name)

In [ ]:
s= 'this is crappily slow!'
words = s.split()
print(words)

In [ ]:
s= 'this is crappily slow!'
i = input('enter an index')
i=int(i)
words = s.split()
print(len(words))
print(len(s))
if i>22 or i<0:
    print('error')
else:
    print(f'index {i} in "{s}" is {s[i]}') #the {} is to keep the value of string intact when print out

In [ ]:
word= 'Christmas'
x = list(word)
print(x)

In [ ]:
a='Happy'
b='Christmas'
x = a+' '+b  #here code doesn't work because there is no space between + and'' nor space '' and +b
#The join method in Python is used for joining elements of an iterable (like a list) into a string, but it's not used for directly joining two strings together.

If you just want to concatenate a and b and then print them, you can simply use the + operator. Also, if you want a space between 'Happy' and 'Christmas', you need to include that explicitly. 
print(x)

In [ ]:
a = 'Happy'
b = 'Christmas'
x = a + ' ' + b  # Concatenating the strings with a space in between
print(x)

In [ ]:
import random
x = random.uniform(1, 10)
print(x)

In [ ]:
print(random.randrange(0,10)) #randrange is to get integer value

In [ ]:
print(random.randrange(10,100))

In [ ]:
print(random.random())  #this is to get any random value, not necessarily integer

In [ ]:
name = input('what is your name')
job = input('what is your job')
num= input('give me a number')
print(f'You said: '+str(num))
print(f'{name}, doing job {job}, said this:{num}') #be careful when inserting stuff in sentences, you don't need + sign but make sure quotation mark at beginning and end

In [ ]:
x=6
if x==2:
    print('two')
elif x==3:
    print('three')
elif x==10:
    print('ten')
else:
    print('something else')

In [ ]:
x=input('enter a number between 1 and 10')
x = int(x)
if x==1:
    print('lower range of 1 and 10')
elif x ==10:
    print('upper range of 1 and 10')
if x<10 and x>1:
    print('within range of 1 and 10')
else:
    print('out of range of 1 and 10')
 # The input x is converted to an integer.
An elif is used for the 'within range' condition, ensuring that it's part of the main if-elif-else block. This way, the 'out of range' message will only be printed if none of the other conditions are true.

In [ ]:
city =['London','New York', 'Tokyo', 'Paris']
print('Cities loop:')
for x in city:
    print('City: '+ x)
    print('\n')
    num =[1,2,3,4,5,6,7,8,9]
    print('x^2 loop:')
for x in num:
    y = x*x
    print (str(x) + '*' + str(x) + '=' + str(y))

In [ ]:
clist = ['UK', 'USA', 'Canada','Japan', 'Germany']
print('Countries loop: ')
for x in clist:
    print('Country: '+ x)
    print('\n')

In [ ]:
x=1
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print('x+1 loop:')
for x in num:
 y = x + 1
 print(str(x) + ' + 1 = ' + str(y))

In [ ]:
x = 1                            
while x <= 10:
    print(x)
    x = x + 1

In [ ]:
def f(x,y):
    return x*y
print(f(2,8))

In [ ]:
def f(x, y):
    return x*x + 2*x + 1 == y

print(f(2, 9))

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(sum(list))
print(min(list))
print(max(list))
print(list[1]) #print second element
print(list[-2]) # print next to last element

In [ ]:
x = [3,4,5]
x.append(6) #add number 6 to list
print(x)
x.append(7) #add number 7 to list
print(x)
x.pop() #remove last number from latest list
print(x)
x.pop() #remove another last number from latest list
print(x)

In [ ]:
x = [6,4,2]
x.append(12)
x.append(8)
x.append(4)
print(x)
x.pop(-5)
print(x)
x.append(3)
x.sort()
print(x)

In [ ]:
words = ['the', 'cat', 'sits', 'on', 'mat']
words.sort()
print(words)  # This prints the sorted list
words = words[::-1] #it reverses the order
print(words)

In [ ]:
x = list(range(1,12))
print(x)

In [ ]:
even_numbers = list(range(0, 25, 2))
print(*even_numbers)

In [ ]:
name = input('enter your name')
company = input('enter your company name')
if name=='Que' and company =='Pharo':
 print('You must be me')
elif name=='Que' or company =='Pharo':
    print('hi colleague!')

In [ ]:
x=15
y=2
x//y
x%y
x**y

In [ ]:
x=10
guess=input ('guess the number')
guess =int(guess)
if guess<10:
    print('too low!')
elif guess>10:
    print('too high!')
else:
    print('bingo!!!')

In [ ]:
odd_numbers = list(range(1, 25, 2))
even_numbers = list(range(0, 25, 2))
print(*odd_numbers)#* is to give space & list out everything
print(*even_numbers)
print(min(odd_numbers))
print(max(even_numbers))

In [ ]:
words={}
words['+44']='UK'
words['+33']='France'

print (words['+44'])
print (words['+33'])

In [ ]:
persons = [ "Lily", "Josh", "Maya" ]
restaurants = [ "Japanese", "Chinese",  "French" ]

for person in persons:
    for restaurant in restaurants:
        print(person + " eats " + restaurant)

In [ ]:
persons = [ "Lily", "Josh", "Maya" ]
slice = persons[0:2]   #get the first 2 persons in the list
print(slice)

In [ ]:
destination = "summer holiday in Portugal"
mySlice = destination[0:10]   #slice first 10 characters in string
print(mySlice)

In [ ]:
def getPerson():
    name = "Leona"
    age = 35
    country = "UK"
    return name,age,country

name,age,country = getPerson()
print(name)
print(age)
print(country)

In [ ]:
balance = 12

def addAmount(x):
    global balance
    balance = balance + x

addAmount(5)
print(balance)

In [ ]:
import time

timenow = time.localtime(time.time())
year,month,day,hour,minute = timenow[0:5]

print(str(day) + "/" + str(month) + "/" + str(year))
print(str(hour) + ":" + str(minute))

In [ ]:
time.asctime()

In [ ]:
time.ctime()

In [ ]:
import time

print("Hello")
time.sleep(1)
print("World")
time.sleep(1)

In [ ]:
timenow = time.localtime(time.time())
year,month,day = timenow[0:3]

print(str(day) + "/" + str(month) + "/" + str(year))

In [ ]:
try:
    x = input("Enter number: ")
    x = x + 1
    print(x)
except:
    print("Invalid input")
finally:
    print("Valid input.")

In [ ]:
x=11
if x>2:
    print('greater than two')
elif x<10:
    print('less than ten')
elif x==10:
    print('ten')
else:
    print('between 2 and 10')

In [ ]:
word1 = input('enter first word')
word2 = input('enter second word')
if word1==word2:
    print('same')
elif word1>word2:
    print(f'{word1} comes first')
else:
    print(f'{word2} comes first')

In [ ]:
name = input('enter yr name')
company = input('enter yr company name')
if name == 'Que' and company == 'Pharo':
    print('You are me, how fascinating!')
elif name =='Que' or company=='Pharo':
    print('you are in my company')
else: print('wtf are you?!?')

In [ ]:
x = 10.15
float(x)
int(x)

In [ ]:
x=1
y=5
x=x+1
x +=1
x+y
str(x) + '555'

In [ ]:
persons = ["Lily", "Josh", "Maya" ]
slice = persons[1:2]   #get the second persons in the list
print(slice)