In [1]:
print('Hello')

Hello

In [2]:
print(5)

5

In [3]:
print(5-2)

3

In [6]:
x=20
y=30
print(x+y)

50

In [9]:
name='Henrique'
print('Hello '+name+'')

Hello Henrique

In [10]:
s=input('enter a word:')
print(s)

enter a word:Josh
Josh

In [11]:
s=input('enter the city of birth')
print(s)

enter the city of birthLisbon
Lisbon

In [12]:
10<100

True

In [15]:
x=10
y=11
x!=y

True

In [20]:
x='abc'
y=123
s=f'{x},{y}!'
print(s)

abc,123!

In [19]:
x='Ola amigo'
y=input('enter name')
print(x + y)

enter nameHenrique
Ola amigoHenrique

In [24]:
name=input('enter your name)')
city=input('enter your city')
s=f'{name} from {city}'
print(s)

enter your name)Henrique
enter your cityLisbon
Henrique from Lisbon

In [27]:
age=input('number')

if age>18:
    print('Great, you are allowed to drive!')
    print('Be careful')
else:
    print('Sorry, you are not allowed to drive.')

number17

TypeError: '>' not supported between instances of 'str' and 'int'